.elementor-bc-flex-widget .elementor-3420 .elementor-element.elementor-element-7784ace7.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3420 .elementor-element.elementor-element-7784ace7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3420 .elementor-element.elementor-element-d796bb3{--spacer-size:90px;}.elementor-3420 .elementor-element.elementor-element-1a8910da{margin-top:36px;margin-bottom:0px;}.elementor-bc-flex-widget .elementor-3420 .elementor-element.elementor-element-6818b0de.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3420 .elementor-element.elementor-element-6818b0de.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3420 .elementor-element.elementor-element-6818b0de.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-3420 .elementor-element.elementor-element-6818b0de > .elementor-element-populated{margin:30px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-3420 .elementor-element.elementor-element-74b0afb9{text-align:center;color:#363636;}.elementor-3420 .elementor-element.elementor-element-8e95724{text-align:center;color:#363636;}.elementor-3420 .elementor-element.elementor-element-17aa269{text-align:center;}.elementor-3420 .elementor-element.elementor-element-17aa269 .elementor-heading-title{color:#2D2D2D;font-family:"Montserrat", Sans-serif;font-size:23px;font-weight:700;text-decoration:underline;}.elementor-3420 .elementor-element.elementor-element-17aa269 > .elementor-widget-container{margin:40px 0px 0px 0px;}.elementor-3420 .elementor-element.elementor-element-c07d0f1{margin-top:0px;margin-bottom:30px;}.elementor-3420 .elementor-element.elementor-element-3adb5a8 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group{padding-right:calc( 54px/2 );padding-left:calc( 54px/2 );margin-bottom:27px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-form-fields-wrapper{margin-left:calc( -54px/2 );margin-right:calc( -54px/2 );margin-bottom:-27px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group > label, .elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-subgroup label{color:#000000;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group > label{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;letter-spacing:-1px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-type-html{padding-bottom:0px;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group .elementor-field, .elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-subgroup label{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#F2F2F2;border-color:#B4373700;border-radius:15px 15px 15px 15px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group .elementor-select-wrapper select{background-color:#F2F2F2;border-color:#B4373700;border-radius:15px 15px 15px 15px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-field-group .elementor-select-wrapper::before{color:#B4373700;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:500;font-style:normal;border-radius:100px 100px 100px 100px;padding:0px 200px 0px 200px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .e-form__buttons__wrapper__button-next{background-color:#69A49E;color:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-button[type="submit"]{background-color:#69A49E;color:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-message{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;}.elementor-3420 .elementor-element.elementor-element-c1131d4 .e-form__indicators__indicator, .elementor-3420 .elementor-element.elementor-element-c1131d4 .e-form__indicators__indicator__label{font-family:"Montserrat", Sans-serif;font-size:24px;font-weight:500;}.elementor-3420 .elementor-element.elementor-element-c1131d4{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 > .elementor-widget-container{border-radius:0px 0px 0px 34px;box-shadow:0px 0px 10px 0px rgba(246, 246, 246, 0);}@media(max-width:767px){.elementor-3420 .elementor-element.elementor-element-17aa269 .elementor-heading-title{font-size:14px;}.elementor-3420 .elementor-element.elementor-element-c1131d4 > .elementor-widget-container{margin:030px 0px 0px 0px;}}/* Start custom CSS for form, class: .elementor-element-c1131d4 */.elementor-field-subgroup input[type=radio]:checked+label, .Checked+label {
    color: white !important;
}

input#form-field-field_4e1dc74 {
    display: none;
}

.elementor-field-type-text.elementor-field-group.elementor-column.elementor-field-group-field_4e1dc74.elementor-col-100 {
    text-decoration: underline;
}

.elementor-field-type-text.elementor-field-group.elementor-column.elementor-field-group-field_4c817a4.elementor-col-100 {
    text-decoration: underline;
}

input#form-field-field_4c817a4 {
    display: none;
}



.elementor-field-subgroup  {
  list-style-type: none;
  margin: 0px 0 0 0;
  padding: 0;
}

.elementor-field-subgroup  li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.elementor-field-subgroup  label,
.elementor-field-subgroup  input {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.elementor-field-subgroup  input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.elementor-field-subgroup  input[type="radio"]:checked+label,
.Checked+label {
  background: #69A49E;
}

.elementor-field-subgroup  input[type="checkbox"]:checked+label,
.Checked+label {
  background: #69A49E;
  
}

.elementor-field-subgroup input[type=checkbox]:checked+label, .Checked+label {
    color: white !important;
}

.elementor-field-subgroup  label {
  padding: 13px 10% 13px 10%;
    border: 2px solid #69A49E;  cursor: pointer;
  z-index: 90;
  margin-top: 20px
}

.elementor-field-subgroup  label:hover {
  background: #DDD;
}


input#form-field-field_c60f3db-0 {
    display: none;
}

input#form-field-field_e02808a-1{
    display: none;
}

input#form-field-field_e02808a-2{
    display: none;}

input#form-field-field_c60f3db-1 {
    display: none;
}

input#form-field-field_e02808a-3{
    display: none;
}

input#form-field-field_e02808a-0{
    display: none;
}

select {
    font-size: 15px!important;
}

input {
    font-size: 15px!important;
}

.elementor-field-textual elementor-size-sm{
    font-size: 15px!important;   
}

.elementor-field-subgroup {
    display: block;
}

.elementor-field-type-radio.elementor-field-group.elementor-column.elementor-field-group-field_c60f3db.elementor-col-100 {
    text-align: center;
}

.elementor-field-type-radio.elementor-field-group.elementor-column.elementor-field-group-field_c60f3db.elementor-col-100 {
    margin-bottom: 60px;
}

/* Fim Consultorio Proprio! */

/*  Possui Scanner? ! */

.elementor-field-type-radio.elementor-field-group.elementor-column.elementor-field-group-field_c02eddc.elementor-col-100 {
    text-align: center;
}
/* Fim Possui Scanner? ! */

/* Raio-x Panoramico ! */

.elementor-field-type-radio.elementor-field-group.elementor-column.elementor-field-group-field_d2e3218.elementor-col-100 {
    text-align: center;
}
/* Raio-x Panoramico ! */

/* CNPJ ! */
.elementor-field-type-radio.elementor-field-group.elementor-column.elementor-field-group-field_bad2c8f.elementor-col-100 {
    text-align: center;
}
/* Fim CNPJ ! */


.field_c60f3db {
    margin-bottom:10px;
}

.elementor-3420 .elementor-element.elementor-element-c1131d4 .elementor-button[type="submit"] {
    padding-left: 37px;
    background-color: #69A49E;
    color: #ffffff;
    padding-right: 37px;
}

.elementor-field-type-acceptance .elementor-field-subgroup .elementor-field-option input, .elementor-field-type-acceptance .elementor-field-subgroup .elementor-field-option label, .elementor-field-type-checkbox .elementor-field-subgroup .elementor-field-option input, .elementor-field-type-checkbox .elementor-field-subgroup .elementor-field-option label, .elementor-field-type-radio .elementor-field-subgroup .elementor-field-option input, .elementor-field-type-radio .elementor-field-subgroup .elementor-field-option label {
    display: inline-flex;
}

@media only screen and (max-width: 900px){
.elementor-field-subgroup label {
    width: 100%;
   text-align: center;
   float: left;
   top: 50%;
   position: relative;

   /* flex para alinhar conteúdo*/
   display: flex;
   justify-content: center;
   align-items: center;
}
.elementor-field-subgroup  {
  list-style-type: none;
  margin: -45px 0 0 0;
  padding: 0;
}
}

.elementor-field-type-checkbox{    text-align: center;
}/* End custom CSS */