.elementor-20516 .elementor-element.elementor-element-cff105d:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-20516 .elementor-element.elementor-element-cff105d > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#69A49E;}.elementor-20516 .elementor-element.elementor-element-cff105d > .elementor-element-populated, .elementor-20516 .elementor-element.elementor-element-cff105d > .elementor-element-populated > .elementor-background-overlay, .elementor-20516 .elementor-element.elementor-element-cff105d > .elementor-background-slideshow{border-radius:30px 30px 30px 30px;}.elementor-20516 .elementor-element.elementor-element-cff105d > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-20516 .elementor-element.elementor-element-cff105d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20516 .elementor-element.elementor-element-0df89bd .elementor-button{font-family:"AmpleSoft Pro", Sans-serif;font-weight:700;fill:#FFFFFF;color:#FFFFFF;background-color:#F49A6A;border-radius:30px 30px 30px 30px;}.elementor-20516 .elementor-element.elementor-element-9eb4f85:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-20516 .elementor-element.elementor-element-9eb4f85 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#69A49E;}.elementor-20516 .elementor-element.elementor-element-9eb4f85 > .elementor-element-populated, .elementor-20516 .elementor-element.elementor-element-9eb4f85 > .elementor-element-populated > .elementor-background-overlay, .elementor-20516 .elementor-element.elementor-element-9eb4f85 > .elementor-background-slideshow{border-radius:30px 30px 30px 30px;}.elementor-20516 .elementor-element.elementor-element-9eb4f85 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-20516 .elementor-element.elementor-element-9eb4f85 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20516 .elementor-element.elementor-element-0b87603 .elementor-button{font-family:"AmpleSoft Pro", Sans-serif;font-weight:700;fill:#FFFFFF;color:#FFFFFF;background-color:#F49A6A;border-radius:30px 30px 30px 30px;}.elementor-20516 .elementor-element.elementor-element-d7e11ca{--spacer-size:50px;}#elementor-popup-modal-20516 .dialog-message{width:1920px;height:100vh;align-items:center;}#elementor-popup-modal-20516{justify-content:center;align-items:center;pointer-events:all;background-color:#FFFFFFB0;}#elementor-popup-modal-20516 .dialog-close-button{display:flex;}#elementor-popup-modal-20516 .dialog-widget-content{background-color:#FFFFFF00;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}@media(max-width:767px){.elementor-20516 .elementor-element.elementor-element-cff105d > .elementor-element-populated{margin:11px 11px 11px 11px;--e-column-margin-right:11px;--e-column-margin-left:11px;}.elementor-20516 .elementor-element.elementor-element-6a081c7 > .elementor-widget-container{padding:15px 15px 0px 15px;}.elementor-20516 .elementor-element.elementor-element-0df89bd .elementor-button{font-size:24px;}.elementor-20516 .elementor-element.elementor-element-0df89bd > .elementor-widget-container{margin:-20px 0px 15px 0px;}.elementor-20516 .elementor-element.elementor-element-9eb4f85 > .elementor-element-populated{margin:11px 11px 11px 11px;--e-column-margin-right:11px;--e-column-margin-left:11px;}.elementor-20516 .elementor-element.elementor-element-c37b504 > .elementor-widget-container{padding:15px 15px 0px 15px;}.elementor-20516 .elementor-element.elementor-element-0b87603 .elementor-button{font-size:24px;}.elementor-20516 .elementor-element.elementor-element-0b87603 > .elementor-widget-container{margin:-15px 0px 15px 0px;}.elementor-20516 .elementor-element.elementor-element-d7e11ca{--spacer-size:13px;}#elementor-popup-modal-20516 .dialog-close-button{font-size:30px;}}/* Start custom CSS */.popup{
    font-size: 17px;
    color: #fff
}

h4{
    font-size: 22px;
}




@keyframes fa-dot-circle {
     0% { opacity: 1; }
     50% { opacity: 0.8; }
     100% { opacity: 0; }
 }


@keyframes fa-blink {
     0% { opacity: 1; }
     50% { opacity: 0.9; }
     100% { opacity: 0; }
 }
 
 
 .fa-dot-circle{
     font-size: 20px;
   -webkit-animation: fa-blink .95s linear infinite;
   -moz-animation: fa-blink .95s linear infinite;
   -ms-animation: fa-blink .95s linear infinite;
   -o-animation: fa-blink .95s linear infinite;
   animation: fa-blink .95s linear infinite;
}
 
.fa-blink {
   -webkit-animation: fa-blink .95s linear infinite;
   -moz-animation: fa-blink .95s linear infinite;
   -ms-animation: fa-blink .95s linear infinite;
   -o-animation: fa-blink .95s linear infinite;
   animation: fa-blink .95s linear infinite;
}

h4{
        padding: 1px 8px;
    line-height: 1.5;
    color: #363636;
    background-color: #FFFFFF;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: 'Montserrat', sans-serif;
  
    font-weight: 900;
    display: inline
}

p/* End custom CSS */